<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Anlog</title>

    {% load static from staticfiles %}
    <link rel="icon" href="{% static "images/favicon.ico" %}">
    <link href="{% static "styles/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "styles/dashboard.css" %}" rel="stylesheet">
  </head>

  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <span class="navbar-brand">Web Log Analyser</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/log/">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/log/show">List<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
  </header>

    <div class="container-fluid">
      <div class="row">
        <main role="main" class="col-md-12 ml-sm-auto px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Log List</h1>
          </div>
          <form class="form-inline mt-2 mb-2" action="/log/search/" method="get">
            <button class="btn btn-sm btn-outline-secondary ml-1 condition" value="keyword" type="button">Keyword</button>
            <input class="form-control form-control-sm col-md-1 ml-1" type="text" name="keyword">
            <button class="btn btn-sm btn-outline-secondary ml-1 condition" value="ip" type="button">Ip</button>
            <input class="form-control form-control-sm col-md-1 ml-1" type="text" name="ip">
            <button class="btn btn-sm btn-outline-secondary ml-1 condition" value="path" type="button">Path</button>
            <input class="form-control form-control-sm col-md-1 ml-1" type="text" name="path">
            <button class="btn btn-sm btn-outline-secondary ml-1 condition" value="method" type="button">Method</button>
            <input class="form-control form-control-sm col-md-1 ml-1" type="text" name="method">
            <button class="btn btn-sm btn-outline-secondary ml-1 condition" value="post" type="button">Post</button>
            <input class="form-control form-control-sm col-md-1 ml-1" type="text" name="post">
            <button class="btn btn-sm btn-outline-secondary ml-1 condition" value="get" type="button">Get</button>
            <input class="form-control form-control-sm col-md-1 ml-1" type="text" name="get">
            <button class="btn btn-sm btn-outline-success ml-1" type="submit">Search</button>
          </form>

          <div id="code">

          </div>

          <table id="loglist" class="table" style="width:100%">
                <thead class="thead-dark">
                    <tr class="basic_attr">
                        <th><input type="checkbox" id="checkAll" name="checkAll" /></th>
                        <th>Time</th>
                        <th>IP</th>
                        <th>Method</th>
                        <th>Path</th>
                        <th>Type</th>
                        <th>Flag</th>
                    </tr>
                </thead>
                <tbody>
                        {% for item in contents %}
                            <tr class="details_control" onclick="showDetail({{ item.index }})">
                                <th><input type="checkbox" name="checkItem" /></th>
                                <td>{{ item.attacktime }}</td>
                                <td>{{ item.attackip }}</td>
                                <td style="text-transform:uppercase;">{{ item.method }}</td>
                                <td>{{ item.path }}</td>
                                <td>
                                {% for  type in item.attacktype %}
                                    {% if type %}
                                        <span class="badge badge-warning" style="font-size:15px;">{{ type }}</span>
                                    {% else %}
                                        <span class="badge badge-success" style="font-size: 15px;">normal</span>
                                    {% endif %}
                                {% endfor %}
                                </td>
                                {% if item.success %}
                                <td><span class="badge badge-danger">Flag</span></td>
                                {% else %}
                                <td></td>
                                {% endif %}
                            </tr>
					        <tr class="details detail_{{ item.index }}">
                                <td colspan="7">
                                <table cellpadding="7" style="table-layout:fixed;width:100%;background-color: aliceblue;">
                                <tr>
                                    <td style="width:10%">Headers:</td>
                                    <td style="width:90%;word-wrap:break-word;word-break:break-all;"><code style="color: #000;">{{ item.headers }}</code></td>
                                </tr>
                                {% if item.post %}
                                <tr>
                                    <td>Post:</td>
                                    <td style="word-wrap:break-word;word-break:break-all;"><code style="color: #000;">{{ item.post }}</code></td>
                                </tr>
                                {% endif %}
                                {% if item.get %}
                                <tr>
                                    <td>Get:</td>
                                    <td style="word-wrap:break-word;word-break:break-all;"><code style="color: #000;">{{ item.get }}</code></td>
                                </tr>
                                {% endif %}
                                {% if item.file %}
                                <tr>
                                    <td>File:</td>
                                    <td>
                                        <div style="overflow-y:auto;max-height:200px;word-break:break-all">
                                            Name:
                                            <pre>{{ item.file.filename }}</pre>
                                            Content:
                                            {% if item.file.type %}
                                                <pre>Binary File</pre>
                                            {% else %}
                                                <pre>{{ item.file.content }}</pre>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                                {% if item.response %}
                                <tr>
                                    <td>Response:</td>
                                    <td>
                                        <div style="overflow-y:auto;max-height:200px;word-break:break-all">
                                            <pre class="response">
                                                {{ item.response }}
                                            </pre>
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                                </table>
                                </td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>

        </main>
      </div>
    </div>

    <nav class="navbar navbar-expand-md fixed-bottom navbar-light bg-light">
{#                <div class="btn-group pagination">#}
{#                {% if page_info.has_previous %}#}
{#                    <button class="btn btn-sm btn-outline-secondary"><a href="?page={{ page_info.previous_page_number }}">Previous</a></button>#}
{#                {% else %}#}
{#                    <button class="btn btn-sm btn-outline-secondary disabled"><a>Previous</a></button>#}
{#                {% endif %}#}
{#                    <button class="btn btn-sm btn-outline-secondary disabled">Page {{ page_info.number }} of {{ page_info.num_pages }}</button>#}
{#                {% if page_info.has_next %}#}
{#                    <button class="btn btn-sm btn-outline-secondary"><a href="?page={{ page_info.next_page_number }}">Next</a></button>#}
{#                {% else %}#}
{#                    <button class="btn btn-sm btn-outline-secondary disabled"><a>Next</a></button>#}
{#                {% endif %}#}
{#                </div>#}
                  <ul class="pagination">
                    {% if page_info.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_info.previous_page_number }}">Previous</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link">Previous</a></li>
                    {% endif %}
                        <li class="page-item disabled"><a class="page-link">Page {{ page_info.number }} of {{ page_info.num_pages }}</a></li>
                    {% if page_info.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_info.next_page_number }}">Next</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link">Next</a></li>
                    {% endif %}
                  </ul>
                <input class="input ml-1 mr-1" type="text" name="page_jump" style="width:50px;">
                <button class="btn btn-sm btn-outline-secondary mr-auto" id="page_jump" type="button">Jump</button>
                <button class="btn btn-sm btn-outline-success my-2 my-sm-0 mt-2 mt-md-0" id="replay" type="submit">Script</button>
    </nav>

    <script src="{% static "scripts/jquery-3.3.1.js" %}"></script>
    <script src="{% static "scripts/popper.min.js" %}"></script>
    <script src="{% static "scripts/bootstrap.js" %}"></script>
    <script src="{% static "scripts/multiselect.js" %}"></script>
{#    <script src="{% static "scripts/jquery.dataTables.min.js" %}"></script>#}
{#    <script src="{% static "scripts/dataTables.select.min.js" %}"></script>#}
{#    <script src="{% static "scripts/dataTables.buttons.min.js" %}"></script>#}

    <!-- Datatables Config -->
    <script>
        function showDetail(index){
            $(".detail_"+index).toggle();
        }
    </script>

    <script>
        $(document).ready(function(){
            $(".details").hide();
            $(".page-link").each(function(){
                if(this.href){
                    if(window.location.toString().split('?')[1]){
                        params = window.location.toString().split('?')[1];
                        list = params.split('&');
                        if(list[0].search('page')===0){
                            var pend = '';
                            for(var i=1;i<list.length; i++){
                                pend = pend+'&'+list[i];
                            }
                            this.href = this.href + pend;
                        }else{
                            var pend = '';
                            for(var i=0;i<list.length; i++){
                                pend = pend+'&'+list[i];
                            }
                            this.href = this.href + pend;
                        }
                    }
                }
            });
        });
    </script>

    <script>
        $(".condition").click(function () {
            var $input = $("input[name='" + $(this).attr("value") + "']");
            if ($input.attr("disabled") === undefined) {
                $input.attr("disabled", "disabled");
            } else {
                $input.removeAttr("disabled");
            }
        });
    </script>

    <script>
        $("#page_jump").click(function(){
            if(window.location.toString().split('?')[1]){
                window.location.href = window.location.href+"&page="+$("input[name='page_jump'] ").val();
            }else{
                window.location.href = window.location.href+"?page="+$("input[name='page_jump'] ").val();
            }
        });
    </script>

    <script>
        $("#replay").click(function() {
            var $res = $(".selected").next();
            var ids = [];
            $res.each(function(i){
                ids[i]=$(this).attr("class").split(' ')[1].substring(7);
            });
            if(ids.length !== 0){
                var url = window.location.toString().split("//");
                var urlpyld = url[1].split('/');
                var visit = url[0]+'//'+urlpyld[0]+'/log/replay/?';
                for(var i=0;i<ids.length;i++){
                    visit = visit + 'id[]=' + ids[i] + '&';
                }
                window.open(visit);
            }
        })
    </script>


  </body>
</html>
