<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>

    {% load static from staticfiles %}
    <link rel="icon" href="{% static "images/favicon.ico" %}">
    <link href="{% static "styles/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "styles/dashboard.css" %}" rel="stylesheet">
    <link href="{% static "styles/jquery.dataTables.min.css" %}" rel="stylesheet">
  </head>

  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <span class="navbar-brand">Web Log Analyser</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/log">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/log/show">List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
 </header>

    <div class="container-fluid">
      <div>
      {% if statip %}
      <main role="main" class="row px-4">

        <div id="attack3" class="mt-3 col-md-12  align-top" style="display: inline-block;">
              <table id="ipattack" class="table" style="width:100%">
                <thead>
                  <tr>
                      <th>Ip</th>
                      <th>Visit</th>
                      <th>Attack</th>
                      <th>Ratio</th>
                      <th>Success</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>{{ statip.ip }}</td>
                      <td>{{ statip.visit }}</td>
                      <td>{{ statip.attack }}</td>
                      <td>{{ statip.ratio }}</td>
                      <td>{{ statip.success }}</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </main>

        <main role="main" class="row px-4">

        <div id="attack3" class="mt-3 col-md-12  align-top" style="display: inline-block;">
              <table id="ipattack" class="table" style="width:100%">
                <thead>
                  <tr>
                      <th>Path</th>
                      <th>Count</th>
                  </tr>
                </thead>
                <tbody>
                  {% for path in statip.path %}
                  <tr>
                      <td>{{ path.path }} <a href="/log/search?ip={{ statip.ip }}&path={{ path.path }}">search</a> <a href="/log/stat?path={{ path.path }}">search</a></td>
                      <td>{{ path.count }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
        </main>
        {% endif %}

      {% if statpath %}
      <main role="main" class="row px-4">

        <div id="attack3" class="mt-3 col-md-12  align-top" style="display: inline-block;">
              <table id="ipattack" class="table" style="width:100%">
                <thead>
                  <tr>
                      <th>Path</th>
                      <th>Visit</th>
                      <th>Attack</th>
                      <th>Ratio</th>
                      <th>Success</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>{{ statpath.path }}</td>
                      <td>{{ statpath.visit }}</td>
                      <td>{{ statpath.attack }}</td>
                      <td>{{ statpath.ratio }}</td>
                      <td>{{ statpath.success }}</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </main>

        <main role="main" class="row px-4">

        <div id="attack3" class="mt-3 col-md-12  align-top" style="display: inline-block;">
              <table id="ipattack" class="table" style="width:100%">
                <thead>
                  <tr>
                      <th>Path</th>
                      <th>Count</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ip in statpath.ip %}
                  <tr>
                      <td>{{ ip.attackip }} <a href="/log/search?ip={{ ip.attackip }}&path={{ statpath.path }}">search</a> <a href="/log/stat?ip={{ ip.attackip }}">stat</a></td>
                      <td>{{ ip.count }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
        </main>
        {% endif %}

      </div>
    </div>

    <script src="{% static "scripts/jquery-3.3.1.js" %}"></script>
    <script src="{% static "scripts/popper.min.js" %}"></script>
    <script src="{% static "scripts/bootstrap.js" %}"></script>
    <script src="{% static "scripts/multiselect.js" %}"></script>

  </body>
</html>