<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>

    {% load static from staticfiles %}
    <link rel="icon" href="{% static "images/favicon.ico" %}">
    <link href="{% static "styles/bootstrap.css" %}" rel="stylesheet">
{#    <link href="{% static "styles/jquery.dataTables.min.css" %}" rel="stylesheet">#}
{#    <link href="{% static "styles/select.dataTables.min.css" %}" rel="stylesheet">#}
{#    <link href="{% static "styles/buttons.dataTables.min.css" %}" rel="stylesheet">#}
{#    <link href="{% static "styles/loglist.css" %}" rel="stylesheet">#}
    <link href="{% static "styles/dashboard.css" %}" rel="stylesheet">
    <script>
        function showDetail(index){
            $(".detail_"+index).toggle();
        }
    </script>
  </head>

  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <span class="navbar-brand">Navbar</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
 </header>

    <div class="container-fluid">
      <div class="row">
{#        <nav class="col-md-2 d-none d-md-block bg-light sidebar">#}
{#          <div class="sidebar-sticky">#}
{#            <ul class="nav flex-column">#}
{#              <li class="nav-item">#}
{#                <a class="nav-link active" href="#">#}
{#                  <span data-feather="home"></span>#}
{#                  Dashboard <span class="sr-only">(current)</span>#}
{#                </a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                <a class="nav-link" href="#">#}
{#                  <span data-feather="file"></span>#}
{#                  Orders#}
{#                </a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                <a class="nav-link" href="#">#}
{#                  <span data-feather="shopping-cart"></span>#}
{#                  Products#}
{#                </a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                <a class="nav-link" href="#">#}
{#                  <span data-feather="users"></span>#}
{#                  Customers#}
{#                </a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                <a class="nav-link" href="#">#}
{#                  <span data-feather="bar-chart-2"></span>#}
{#                  Reports#}
{#                </a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                <a class="nav-link" href="#">#}
{#                  <span data-feather="layers"></span>#}
{#                  Integrations#}
{#                </a>#}
{#              </li>#}
{#            </ul>#}
{##}
{#            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">#}
{#              <span>Saved reports</span>#}
{#              <a class="d-flex align-items-center text-muted" href="#">#}
{#                <span data-feather="plus-circle"></span>#}
{#              </a>#}
{#            </h6>#}
{#            <ul class="nav flex-column mb-2">#}
{#              <li class="nav-item">#}
{#                <a class="nav-link" href="#">#}
{#                  <span data-feather="file-text"></span>#}
{#                  Current month#}
{#                </a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                <a class="nav-link" href="#">#}
{#                  <span data-feather="file-text"></span>#}
{#                  Last quarter#}
{#                </a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                <a class="nav-link" href="#">#}
{#                  <span data-feather="file-text"></span>#}
{#                  Social engagement#}
{#                </a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                <a class="nav-link" href="#">#}
{#                  <span data-feather="file-text"></span>#}
{#                  Year-end sale#}
{#                </a>#}
{#              </li>#}
{#            </ul>#}
{#          </div>#}
{#        </nav>#}

        <main role="main" class="col-md-12 ml-sm-auto px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>
          <form class="form-inline mt-2 mb-2" action="/log/search" method="get">
            <button class="condition" id="keyword" onclick="selectCondition()">Keyword</button>:
            <input disabled="disabled" type="text" name="keyword">
            <button class="condition ml-1" id="ip">IP Address</button>:
            <input disabled="disabled" type="text" name="ip">
            <button id="method" class="ml-1 condition">Method</button>:
            <input disabled="disabled" type="text" name="method">
            <button id="post" class="ml-1 condition">Post</button>:
            <input disabled="disabled" type="text" name="post">
            <button id="get" class="ml-1 condition">Get</button>:
            <input disabled="disabled" type="text" name="get">
            <button class="btn btn-outline-success my-2 my-sm-0 ml-1" type="submit">Search</button>
          </form>

          <table id="loglist" class="table" style="width:100%">
                <thead class="thead-dark">
                    <tr class="basic_attr">
                        <th><input type="checkbox" id="checkAll" name="checkAll" /></th>
                        <th>Time</th>
                        <th>IP</th>
                        <th>Method</th>
                        <th>Path</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                        {% for item in contents %}
                            <tr class="details_control" onclick="showDetail({{ item.index }})">
                                <th><input type="checkbox" name="checkItem" /></th>
                                <td>{{ item.attacktime }}</td>
                                <td>{{ item.attackip }}</td>
                                <td style="text-transform:uppercase;">{{ item.method }}</td>
                                <td>{{ item.path }}</td>
                                <td>{{ item.attacktype }}</td>
                            </tr>
					        <tr class="details detail_{{ item.index }}">
                                <td colspan="6">
                                <table cellpadding="6" style="table-layout:fixed;width:100%">
                                <tr>
                                    <td style="width:10%">Headers:</td>
                                    <td style="width:90%;word-wrap:break-word;word-break:break-all;"><code>{{ item.headers }}</code></td>
                                </tr>
                                <tr>
                                    <td>Post:</td>
                                    <td>{{ item.post }}</td>
                                </tr>
                                <tr>
                                    <td>Get:</td>
                                    <td>{{ item.get }}</td>
                                </tr>
                                <tr>
                                    <td>Response:</td>
                                    <td>
                                        <div style="overflow-y:auto;height:200px;word-break:break-all">
                                            <code>
                                                {{ item.response }}
                                            </code>
                                        </div>
                                    </td>
                                </tr>
                                </table>
                                </td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
            <div class="pagination" align="right">
                <ul class="pagination">
                {% if page_info.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_info.previous_page_number }}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link">Previous</a></li>
                {% endif %}
                    <li class="page-item"><a class="page-link">Page {{ page_info.number }} of {{ page_info.num_pages }}</a></li>
                {% if page_info.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_info.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link">Next</a></li>
                {% endif %}
                </ul>
            </div>

        </main>

      </div>
    </div>

    <script src="{% static "scripts/jquery-slim.min.js" %}"></script>
    <script src="{% static "scripts/popper.min.js" %}"></script>
    <script src="{% static "scripts/bootstrap.js" %}"></script>
    <script src="{% static "scripts/multiselect.js" %}"></script>
{#    <script src="{% static "scripts/jquery.dataTables.min.js" %}"></script>#}
{#    <script src="{% static "scripts/dataTables.select.min.js" %}"></script>#}
{#    <script src="{% static "scripts/dataTables.buttons.min.js" %}"></script>#}

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
    <!-- Datatables Config -->

    <script>
        $(document).ready(function(){
            $(".details").hide();
            $(".condition").click(function () {
                var $input = $("input[name='"+$(this).attr("id")+"']");
                if($input.attr("disabled") === undefined){
                    $input.attr("disabled","disabled");
                }else{
                    $input.removeAttr("disabled");
                }
                }
            );
        });
    </script>


  </body>
</html>
